/*Install Instructions*/
/*Right Click This Page and Click "Save Page As..."*/

/*The URL below is used for automatically updating the CSS, DO NOT TOUCH IT*/

@import url(https://oxycotic.github.io/Yuki-Aim/yuki_social.css);

/*Customization Settings/設定*/

:root {
    --accent: #e15959;
    /*Default Accent: #e15959 | rgb(225, 89, 89) ↽ RGB Values for Settings */
    
    --bg-color: #fff;
    /*Light Mode: #fff | Dark Mode: #353535 or #000*/
    
    --secondary-bg: #000;
    /*Default: #000*/
    
    --text-color: #353535;
    /*Light Mode: #353535 | Dark Mode: #fff*/
    
    --secondary-text: #fff;
    /*Default: #fff*/
    
    --decals: 1;
    /*1: Visible | 0: Invisible*/
}

/*English Font*/

@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2);
}

/*日本語フォント*/

@font-face {
    font-family: JP;
    src: url(https://dl.dropboxusercontent.com/s/9b7aer2osbcd388/logotypejp_mp_b_1.1.ttf?dl=0);
}


/*css made by tae*/

/*
ign: びこ
twitter: @oxycotic
discord: tae#4444
site: https://taekr.carrd.co/
*/

/*Editing for Commercial Use Is Prohibited and CAN lead to a ban ingame :)*/

/*Make Edits Below*/
